html,
body {
    padding: 0;
    margin: 0;
    background-color: rgb(245, 245, 245);
}

* {
    box-sizing: border-box;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 30px auto;
  background-color: #fff;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 0.5s infinite ease-in-out;
}

#imagenPerfil {
  animation: saltoImagen 1.0s 3 ease-in-out;
}
  
@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes saltoImagen {
  0% {
    transform: translate(0, 10px);
  } 100% {
    transform: translate(0, 2px);
  }
  
}